		<div id="primary">
			<div id="content" role="main">

			<nav id="nav-above">
				<h3 class="assistive-text">Post navigation</h3>
				<div class="nav-previous"><a href="http://cichol.tk/?paged=2" ><span class="meta-nav">←</span> Older posts</a></div>
				<div class="nav-next"><a href="http://cichol.tk/">Newer posts <span class="meta-nav">→</span></a></div>
			</nav>

			<% @articles.each do |a| %>
				<article class="post hentry">
						<header class="entry-header">
							<h1 class="entry-title"><a href="/article/<%= a.id %>" rel="bookmark"><%= a.title %></a></h1>
							
							<div class="entry-meta">
								<span class="sep">Posted on </span><a href="/article/<%= a.id %>" title="<%= a.created_at.localtime.strftime("%H:%M") %>" rel="bookmark"><time class="entry-date" datetime="<%= a.created_at %>"><%= a.created_at.localtime.to_date.to_formatted_s(:long_ordinal) %></time></a><span class="by-author"> <span class="sep"> by </span><span class="author vcard"><a class="url fn n" href="/article/1" title="View all posts by Cichol" rel="author">Cichol</a></span></span>
							</div><!-- .entry-meta -->
							<div class="comments-link">
								<a href="/article/<%= a.id %>#comments" title="Comment on <%= a.title %>!"></a>
							</div>
						</header><!-- .entry-header -->

						<div class="entry-content">
							<%= truncate(GitHub::Markdown.render(a.body), :length=>240).html_safe %>
						</div><!-- .entry-content -->
						
						<footer class="entry-meta">
							<span class="cat-links">
							<span class="entry-utility-prep entry-utility-prep-cat-links">Posted in </span><a href="/category/<%= a.category_id %>" title="View all posts in <%= a.category.name %>" rel="category"><%= a.category.name %></a></span>										
						</footer><!-- .entry-meta -->
					</article>

				<% end %>
				
				<nav id="nav-below">
					<h3 class="assistive-text">Post navigation</h3>
					<div class="nav-previous">
						<% if @pagination[:next] %>
							<a href="<%= join_params(page: current_page + 1 ) %>"><span class="meta-nav">←</span> Older posts</a>
						<% end %>
					</div>
					<div class="nav-next">
						<% if @pagination[:prev] %>
							<a href="<%= join_params(page: current_page - 1 ) %>">Newer posts <span class="meta-nav">→</span></a>
						<% end %>
					</div>
				</nav>

			</div><!-- #content -->
		</div><!-- #primary -->