<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh">>
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="zh">
<![endif]-->
<!--[if !(IE 6) & !(IE 7) & !(IE 8)]><!-->
<html lang="zh">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title><%= @title %></title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/user.css" />
<link rel='stylesheet' href='/colors/dark.css' type='text/css' media='all' />
<!--[if lt IE 9]>
<script src="./js/html5.js" type="text/javascript"></script>
<![endif]-->
	<style>
	/* Link color */
	a,
	#site-title a:focus,
	#site-title a:hover,
	#site-title a:active,
	.entry-title a:hover,
	.entry-title a:focus,
	.entry-title a:active,
	.widget_twentyeleven_ephemera .comments-link a:hover,
	section.recent-posts .other-recent-posts a[rel="bookmark"]:hover,
	section.recent-posts .other-recent-posts .comments-link a:hover,
	.format-image footer.entry-meta a:hover,
	#site-generator a:hover {
		color: #fc6a16;
	}
	section.recent-posts .other-recent-posts .comments-link a:hover {
		border-color: #fc6a16;
	}
	article.feature-image.small .entry-summary p a:hover,
	.entry-header .comments-link a:hover,
	.entry-header .comments-link a:focus,
	.entry-header .comments-link a:active,
	.feature-slider a.active {
		background-color: #fc6a16;
	}
	</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	<style type="text/css" id="custom-background-css">
	body.custom-background { background-color: #050505; }
	</style>
</head>

<body class="home blog custom-background single-author two-column right-sidebar">
<div id="page" class="hfeed">
	<header id="branding" role="banner">
		<hgroup>
			<h1 id="site-title"><span><a href="/" rel="home">Cichol</a></span></h1>
			<h2 id="site-description">黎明无期，长夜不止。</h2>
		</hgroup>

		<a href="/">
			<img src="/images/headers/<%= rand_for_str(%w{chessboard hanoi lanterns pine-cone shore trolley wheel willow}) %>.jpg" width="1000" height="288" />
		</a>

		<form method="get" id="searchform" action="/search">
			<label for="s" class="assistive-text">Search</label>
			<input type="text" class="field" name="s" id="s" placeholder="Search" />
			<input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
		</form>
		<nav id="access" role="navigation">
			<h3 class="assistive-text">Main menu</h3>
			<div class="skip-link"><a class="assistive-text" href="#content">Skip to primary content</a></div>
				<div class="skip-link"><a class="assistive-text" href="#secondary">Skip to secondary content</a></div>
			<div class="menu"><ul>
				<li class="<%= nav?("/") %>"><a href="/">首页</a></li>
				<li class="<%= nav?("/article/1") %>"><a href="/article/1">关于</a></li>
				<% Category.all.each do |c| %>
				<li class="<%= nav?("/category/#{c.id}") %>"><a href="/category/<%= c.id %>"><%= c.name %></a></li>
				<% end %>
				<li class="page_item"><a href="http://fsk.im/music" target="_blank">音乐</a></li>
			</ul></div>
		</nav>
	</header>


	<div id="main">

		<%= yield %>
		<div id="secondary" class="widget-area" role="complementary">
			<aside class="widget"><h3 class="widget-title">碎碎念</h3>	
				<div class="textwidget"><%= Micropost.last.body.gsub(/\n/, '<br>').html_safe %></div>
			</aside>
			<aside class="widget"><h3 class="widget-title">近期文章</h3>
				<ul>
					<% Article.where('visible = 1').order('id DESC').limit(5).all.each do |a| %>
						<li><a href="/article/<%= a.id %>"><%= a.title %></a></li>
					<% end %>
				</ul>
			</aside>
			<aside class="widget"><h3 class="widget-title">分类目录</h3>
				<ul>
					<% Category.all.each do |c| %>
						<li><a href="/category/<%= c.id %>" title="View all posts filed under <%= c.name %>"><%= c.name %></a></li>
					<% end %>
				</ul>
			</aside>
			<aside class="widget"><h3 class="widget-title">功能</h3>
				<ul>
					<li><a href="/admin">管理站点</a></li>
					<!--
					<li><a href="http://cichol.tk/?feed=rss2" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="http://cichol.tk/?feed=comments-rss2" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
					-->
			</ul>
			</aside>
		</div>
	</div>

	<footer id="colophon" role="contentinfo">
		<div id="site-generator">
			<a href="http://wordpress.org/" title="Semantic Personal Publishing Platform">Proudly powered by WordPress</a>
		</div>
	</footer>
</div>
</body>
</html>